* {
    font-family: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;
}
.jumbotron {
    background: #ccc;
}
.company-1 {
    background-image: url(./images/company-name-1.png);
    background-position-x: 90%; 
    background-repeat: no-repeat;
}
.company-2 {
    background-image: url(./images/company-name-2.png);
    background-position-x: 90%; 
    background-repeat: no-repeat;
}